html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.section {
    flex-grow: 1;
}

#section1 {
    width: min-content;
    background-color: rgb(120, 225, 75);
    padding: 50px;
}

#section2 {
    padding: 50px;
}

#foto {
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span {
    font-style: italic;
}

ul {
    text-align: left;
}

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}
